.area {
    background-color: #F8A71B;
    padding: 50px;
    height: 100vh;
    scroll-behavior: smooth;
}

/* .area {
  } */

.mokup-container,
.TextArea {
    will-change: opacity, transform;
    width: 50vw;
}

.area h1 {
    font-size: 5rem;
    padding-left: 10rem;
}

.item-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
}

.item-image .mokup {
    width: 18vw;
    height: auto;
    padding: 20px 25vw 60px 10vw;
}

.TextArea h3 {
    padding-top: 1rem;
    font-weight: 100;
    font-size: 1vw;
}

.item-image h1 {
    font-size: 2.5rem;
    padding: 0;
    font-size: 2vw;
}

ul li {
    font-weight: 100;
    font-size: 1vw;
}

.playstore {
    width: auto;
    height: 6vw;
    min-height: 55px;
}

.appstore {
    width: auto;
    height: 3.8vw;
}

.downloadImg {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .area {
        padding: 5rem 1rem 5rem 1rem;
        height: auto;
        width: 100vw;


        /* Allow height to adjust dynamically */
    }

    .area h1 {
        font-size: 3rem;
        padding: 0;
        align-items: center;
        /* Smaller font for smaller screens */
    }

    .mokup-container{
        will-change: opacity, transform;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: start;
        align-items: center;
    }

    .item-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        align-items: center;
        /* Center align text */
        /* width: 100vw; */
        max-width: 100vw;
    }

    .item-image .mokup {
        width: auto;
        height: 60vh;
        padding: 20px;
        /* Reduce padding */
    }

    .TextArea h3 {
        padding-top: 1rem;
        font-weight: 100;
        font-size: 2.5vw;
    }

    .TextArea h2 {
        padding-top: 1.5rem;
        /* font-weight: 100;
        font-size: 2.5vw; */
    }

    .TextArea {

        flex-direction: column;
        justify-content: center;
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        /* Expand text area to fit screen */
    }

    .item-image h1 {
        font-size: 2rem;
        max-width: 100vw;
    }

    ul li {
        font-weight: 100;
        font-size: 2.5vw;
    }

    .downloadImg {
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .playstore {
        width: auto;
        height: 5rem;
        /* min-height: 55px; */
    }

    .appstore {
        width: auto;
        height: 3.5rem;
    }


}

@media (max-width: 480px) {
    .area h1 {
        font-size: 2.5rem;
        /* Further reduce font size for very small screens */
    }

    .item-image .mokup {
        height: 50vh;
    }

    .item-image h1 {
        font-size: 1.5rem;
    }

    .downloadImg {
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .playstore {
        width: auto;
        height: 9.5vh;
        /* min-height: 55px; */
    }

    .appstore {
        width: auto;
        height: 6.4vh;
    }
}